@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BORDR-BOX */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* =============================================
   BASICS
   ============================================= */
.list-block {
  text-align: justify;
  font-size: 0;
  letter-spacing: 0;
  list-style-type: none;
  line-height: 0;
}
.list-block:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.list-block > li {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 18px;
}
.list-block > li:last-of-type:after {
  content: "";
  width: 100%;
}

.list-block > .list-block-fix {
  visibility: hidden;
  height: 0;
  font-size: 0 !important;
}

/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */
@media only screen and (max-width: 579px) {
  .list-block {
    margin: 0 -20px;
  }

  .list-block > li {
    width: 50%;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 580px) {
  .list-block {
    margin: 0 -20px;
  }

  .list-block > li {
    width: 50%;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 799px) {
  .list-block {
    margin: 0 -20px;
  }

  .list-block > li {
    width: 33.33333%;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1060px) {
  .list-block {
    margin: 0 -25px;
  }

  .list-block > li {
    width: 25%;
    padding: 0 25px;
  }
}
@media only screen and (min-width: 1260px) {
  .list-block {
    margin: 0 -30px;
  }

  .list-block > li {
    width: 20%;
    padding: 0 30px;
  }
}
/* =============================================
   Column-Widhts – Do not change!
   ============================================= */
/* EXTRA 20% WIDTH */
/* BASIC SIZE */
[class*='col-'] {
  width: 100%;
}

/* =============================================
   SIZE-XS
   ============================================= */
.grid {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

[class*='-xs-1c'] {
  width: 8.33%;
}

[class*='-xs-2c'] {
  width: 16.66667%;
}

[class*='-xs-3c'] {
  width: 25%;
}

[class*='-xs-4c'] {
  width: 33.33%;
}

[class*='-xs-5c'] {
  width: 41.66667%;
}

[class*='-xs-6c'] {
  width: 50%;
}

[class*='-xs-7c'] {
  width: 58.33%;
}

[class*='-xs-8c'] {
  width: 66.66667%;
}

[class*='-xs-9c'] {
  width: 75%;
}

[class*='-xs-10c'] {
  width: 83.33%;
}

[class*='-xs-11c'] {
  width: 91.66667%;
}

[class*='-xs-12c'] {
  width: 100%;
}

[class*='-xs-20c'] {
  width: 20%;
}

[class*='-xs-40c'] {
  width: 40%;
}

[class*='-xs-60c'] {
  width: 60%;
}

[class*='-xs-80c'] {
  width: 80%;
}

/* =============================================
   SIZE-SM
   ============================================= */
@media only screen and (min-width: 580px) {
  .grid {
    width: 580px;
  }

  [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  [class*='-sm-1c'] {
    width: 8.33%;
  }

  [class*='-sm-2c'] {
    width: 16.66667%;
  }

  [class*='-sm-3c'] {
    width: 25%;
  }

  [class*='-sm-4c'] {
    width: 33.33%;
  }

  [class*='-sm-5c'] {
    width: 41.66667%;
  }

  [class*='-sm-6c'] {
    width: 50%;
  }

  [class*='-sm-7c'] {
    width: 58.33%;
  }

  [class*='-sm-8c'] {
    width: 66.66667%;
  }

  [class*='-sm-9c'] {
    width: 75%;
  }

  [class*='-sm-10c'] {
    width: 83.33%;
  }

  [class*='-sm-11c'] {
    width: 91.66667%;
  }

  [class*='-sm-12c'] {
    width: 100%;
  }

  [class*='-sm-20c'] {
    width: 20%;
  }

  [class*='-sm-40c'] {
    width: 40%;
  }

  [class*='-sm-60c'] {
    width: 60%;
  }

  [class*='-sm-80c'] {
    width: 80%;
  }
}
/* =============================================
   SIZE-MD
   ============================================= */
@media only screen and (min-width: 799px) {
  .grid {
    width: 759px;
  }

  [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }

  [class*='-md-1c'] {
    width: 8.33%;
  }

  [class*='-md-2c'] {
    width: 16.66667%;
  }

  [class*='-md-3c'] {
    width: 25%;
  }

  [class*='-md-4c'] {
    width: 33.33%;
  }

  [class*='-md-5c'] {
    width: 41.66667%;
  }

  [class*='-md-6c'] {
    width: 50%;
  }

  [class*='-md-7c'] {
    width: 58.33%;
  }

  [class*='-md-8c'] {
    width: 66.66667%;
  }

  [class*='-md-9c'] {
    width: 75%;
  }

  [class*='-md-10c'] {
    width: 83.33%;
  }

  [class*='-md-11c'] {
    width: 91.66667%;
  }

  [class*='-md-12c'] {
    width: 100%;
  }

  [class*='-md-20c'] {
    width: 20%;
  }

  [class*='-md-40c'] {
    width: 40%;
  }

  [class*='-md-60c'] {
    width: 60%;
  }

  [class*='-md-80c'] {
    width: 80%;
  }
}
/* =============================================
   SIZE-LG
   ============================================= */
@media only screen and (min-width: 1060px) {
  .grid {
    width: 1020px;
  }

  [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }

  [class*='-lg-1c'] {
    width: 8.33%;
  }

  [class*='-lg-2c'] {
    width: 16.66667%;
  }

  [class*='-lg-3c'] {
    width: 25%;
  }

  [class*='-lg-4c'] {
    width: 33.33%;
  }

  [class*='-lg-5c'] {
    width: 41.66667%;
  }

  [class*='-lg-6c'] {
    width: 50%;
  }

  [class*='-lg-7c'] {
    width: 58.33%;
  }

  [class*='-lg-8c'] {
    width: 66.66667%;
  }

  [class*='-lg-9c'] {
    width: 75%;
  }

  [class*='-lg-10c'] {
    width: 83.33%;
  }

  [class*='-lg-11c'] {
    width: 91.66667%;
  }

  [class*='-lg-12c'] {
    width: 100%;
  }

  [class*='-lg-20c'] {
    width: 20%;
  }

  [class*='-lg-40c'] {
    width: 40%;
  }

  [class*='-lg-60c'] {
    width: 60%;
  }

  [class*='-lg-80c'] {
    width: 80%;
  }
}
/* =============================================
   SIZE-XL
   ============================================= */
@media only screen and (min-width: 1260px) {
  .grid {
    width: 1220px;
  }

  [class*='col-'] {
    padding-left: 30px;
    padding-right: 30px;
  }

  [class*='-xl-1c'] {
    width: 8.33%;
  }

  [class*='-xl-2c'] {
    width: 16.66667%;
  }

  [class*='-xl-3c'] {
    width: 25%;
  }

  [class*='-xl-4c'] {
    width: 33.33%;
  }

  [class*='-xl-5c'] {
    width: 41.66667%;
  }

  [class*='-xl-6c'] {
    width: 50%;
  }

  [class*='-xl-7c'] {
    width: 58.33%;
  }

  [class*='-xl-8c'] {
    width: 66.66667%;
  }

  [class*='-xl-9c'] {
    width: 75%;
  }

  [class*='-xl-10c'] {
    width: 83.33%;
  }

  [class*='-xl-11c'] {
    width: 91.66667%;
  }

  [class*='-xl-12c'] {
    width: 100%;
  }

  [class*='-xl-20c'] {
    width: 20%;
  }

  [class*='-xl-40c'] {
    width: 40%;
  }

  [class*='-xl-60c'] {
    width: 60%;
  }

  [class*='-xl-80c'] {
    width: 80%;
  }
}
/* =============================================
   GRID NO-GUTTER
   ============================================= */
/* GUTTER ADJUSTEMENT */
[class*='grid'].no-gutter [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

/* GRID XS NO-GUTTER */
.grid.no-gutter {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

/* SIZE-SM NO-GUTTER */
@media only screen and (min-width: 580px) {
  .grid.no-gutter {
    width: 560px;
    padding-left: 0;
    padding-right: 0;
  }
}
/* GRID MD NO-GUTTER */
@media only screen and (min-width: 799px) {
  .grid.no-gutter {
    width: 719px;
  }
}
/* GRID LG NO-GUTTER */
@media only screen and (min-width: 1060px) {
  .grid.no-gutter {
    width: 980px;
  }
}
/* GRID XL NO-GUTTER */
@media only screen and (min-width: 1260px) {
  .grid.no-gutter {
    width: 1160px;
  }
}
/* =============================================
   GRID FLUID
   ============================================= */
.grid-fluid {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.grid-fluid:after {
  content: "";
  display: table;
  clear: both;
}

.grid-fluid.grid-width {
  max-width: 1220px;
  margin: 0 auto;
}

.grid-fluid.grid-width.no-gutter {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 580px) {
  .grid-fluid.grid-width.no-gutter {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 799px) {
  .grid-fluid.grid-width.no-gutter {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1060px) {
  .grid-fluid.grid-width.no-gutter {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1260px) {
  .grid-fluid.grid-width.no-gutter {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* =============================================
   GRID FLUID NO-GUTTER
   ============================================= */
.grid-fluid.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

/* =============================================
   CENTER / RIGHT
   ============================================= */
.right {
  float: right;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

[class*='grid'] [class*='col-']:only-child, .grid [class*='col-'].center {
  overflow: visible;
}

/* =============================================
   NESTING
   ============================================= */
[class*='grid'] [class*='grid'] {
  width: auto;
  margin: 0 -10px;
}

[class*='grid'].no-gutter [class*='grid'] {
  margin: 0;
}

[class*='grid'] [class*='grid'].gutter,
[class*='grid'] [class*='grid'].gutter [class*='grid'] {
  margin: 0 -10px;
  width: auto;
}
[class*='grid'] [class*='grid'].gutter [class*='col-'],
[class*='grid'] [class*='grid'].gutter [class*='grid'] [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*='grid'] [class*='grid'].no-gutter {
  margin: 0;
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

[class*='grid'] [class*='grid'] [class*='grid'].no-gutter {
  margin: 0;
}
[class*='grid'] [class*='grid'] [class*='grid'].no-gutter [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 580px) {
  [class*='grid'] [class*='grid'] {
    margin: 0 -10px;
  }

  [class*='grid'] [class*='grid'].gutter,
  [class*='grid'] [class*='grid'].gutter [class*='grid'] {
    margin: 0 -10px;
  }
  [class*='grid'] [class*='grid'].gutter [class*='col-'],
  [class*='grid'] [class*='grid'].gutter [class*='grid'] [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 799px) {
  [class*='grid'] [class*='grid'] {
    margin: 0 -20px;
  }

  [class*='grid'] [class*='grid'].gutter,
  [class*='grid'] [class*='grid'].gutter [class*='grid'] {
    margin: 0 -20px;
  }
  [class*='grid'] [class*='grid'].gutter [class*='col-'],
  [class*='grid'] [class*='grid'].gutter [class*='grid'] [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1060px) {
  [class*='grid'] [class*='grid'] {
    margin: 0 -20px;
  }

  [class*='grid'] [class*='grid'].gutter,
  [class*='grid'] [class*='grid'].gutter [class*='grid'] {
    margin: 0 -20px;
  }
  [class*='grid'] [class*='grid'].gutter [class*='col-'],
  [class*='grid'] [class*='grid'].gutter [class*='grid'] [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1260px) {
  [class*='grid'] [class*='grid'] {
    margin: 0 -30px;
  }

  [class*='grid'] [class*='grid'].gutter,
  [class*='grid'] [class*='grid'].gutter [class*='grid'] {
    margin: 0 -30px;
  }
  [class*='grid'] [class*='grid'].gutter [class*='col-'],
  [class*='grid'] [class*='grid'].gutter [class*='grid'] [class*='col-'] {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* =============================================
   BORDER SPACING FOR SIZE XS
   ============================================= */
@media only screen and (max-width: 579px) {
  [class*='grid'] {
    padding-left: 30px;
    padding-right: 30px;
  }
  [class*='grid'] [class*='grid'] {
    padding-left: 0;
    padding-right: 0;
  }

  .grid-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* =============================================
   FIXES
   ============================================= */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/* =============================================
   PUSH RIGHT
   ============================================= */
/* =============================================
   PUSH SIZE-XS
   ============================================= */
[class*='push-xs-0p'] {
  left: 0;
}

[class*='push-xs-1p'] {
  left: 8.33%;
}

[class*='push-xs-2p'] {
  left: 16.66667%;
}

[class*='push-xs-3p'] {
  left: 25%;
}

[class*='push-xs-4p'] {
  left: 33.33%;
}

[class*='push-xs-5p'] {
  left: 41.66667%;
}

[class*='push-xs-6p'] {
  left: 50%;
}

[class*='push-xs-7p'] {
  left: 58.33%;
}

[class*='push-xs-8p'] {
  left: 66.66667%;
}

[class*='push-xs-9p'] {
  left: 75%;
}

[class*='push-xs-10p'] {
  left: 83.33%;
}

[class*='push-xs-11p'] {
  left: 91.66667%;
}

[class*='push-xs-12p'] {
  left: 100%;
}

[class*='push-xs-20p'] {
  left: 20%;
}

[class*='push-xs-40p'] {
  left: 40%;
}

[class*='push-xs-60p'] {
  left: 60%;
}

[class*='push-xs-80p'] {
  left: 80%;
}

/* =============================================
   PUSH SIZE-SM
   ============================================= */
@media only screen and (min-width: 580px) {
  [class*='push-sm-0p'] {
    left: 0;
  }

  [class*='push-sm-1p'] {
    left: 8.33%;
  }

  [class*='push-sm-2p'] {
    left: 16.66667%;
  }

  [class*='push-sm-3p'] {
    left: 25%;
  }

  [class*='push-sm-4p'] {
    left: 33.33%;
  }

  [class*='push-sm-5p'] {
    left: 41.66667%;
  }

  [class*='push-sm-6p'] {
    left: 50%;
  }

  [class*='push-sm-7p'] {
    left: 58.33%;
  }

  [class*='push-sm-8p'] {
    left: 66.66667%;
  }

  [class*='push-sm-9p'] {
    left: 75%;
  }

  [class*='push-sm-10p'] {
    left: 83.33%;
  }

  [class*='push-sm-11p'] {
    left: 91.66667%;
  }

  [class*='push-sm-12p'] {
    left: 100%;
  }

  [class*='push-sm-20p'] {
    left: 20%;
  }

  [class*='push-sm-40p'] {
    left: 40%;
  }

  [class*='push-sm-60p'] {
    left: 60%;
  }

  [class*='push-sm-80p'] {
    left: 80%;
  }
}
/* =============================================
   PUSH SIZE-MD
   ============================================= */
@media only screen and (min-width: 799px) {
  [class*='push-md-0p'] {
    left: 0;
  }

  [class*='push-md-1p'] {
    left: 8.33%;
  }

  [class*='push-md-2p'] {
    left: 16.66667%;
  }

  [class*='push-md-3p'] {
    left: 25%;
  }

  [class*='push-md-4p'] {
    left: 33.33%;
  }

  [class*='push-md-5p'] {
    left: 41.66667%;
  }

  [class*='push-md-6p'] {
    left: 50%;
  }

  [class*='push-md-7p'] {
    left: 58.33%;
  }

  [class*='push-md-8p'] {
    left: 66.66667%;
  }

  [class*='push-md-9p'] {
    left: 75%;
  }

  [class*='push-md-10p'] {
    left: 83.33%;
  }

  [class*='push-md-11p'] {
    left: 91.66667%;
  }

  [class*='push-md-12p'] {
    left: 100%;
  }

  [class*='push-md-20p'] {
    left: 20%;
  }

  [class*='push-md-40p'] {
    left: 40%;
  }

  [class*='push-md-60p'] {
    left: 60%;
  }

  [class*='push-md-80p'] {
    left: 80%;
  }
}
/* =============================================
   PUSH SIZE-LG
   ============================================= */
@media only screen and (min-width: 1060px) {
  [class*='push-lg-0p'] {
    left: 0;
  }

  [class*='push-lg-1p'] {
    left: 8.33%;
  }

  [class*='push-lg-2p'] {
    left: 16.66667%;
  }

  [class*='push-lg-3p'] {
    left: 25%;
  }

  [class*='push-lg-4p'] {
    left: 33.33%;
  }

  [class*='push-lg-5p'] {
    left: 41.66667%;
  }

  [class*='push-lg-6p'] {
    left: 50%;
  }

  [class*='push-lg-7p'] {
    left: 58.33%;
  }

  [class*='push-lg-8p'] {
    left: 66.66667%;
  }

  [class*='push-lg-9p'] {
    left: 75%;
  }

  [class*='push-lg-10p'] {
    left: 83.33%;
  }

  [class*='push-lg-11p'] {
    left: 91.66667%;
  }

  [class*='push-lg-12p'] {
    left: 100%;
  }

  [class*='push-lg-20p'] {
    left: 20%;
  }

  [class*='push-lg-40p'] {
    left: 40%;
  }

  [class*='push-lg-60p'] {
    left: 60%;
  }

  [class*='push-lg-80p'] {
    left: 80%;
  }
}
/* =============================================
   PUSH SIZE-XL
   ============================================= */
@media only screen and (min-width: 1260px) {
  [class*='push-xl-0p'] {
    left: 0;
  }

  [class*='push-xl-1p'] {
    left: 8.33%;
  }

  [class*='push-xl-2p'] {
    left: 16.66667%;
  }

  [class*='push-xl-3p'] {
    left: 25%;
  }

  [class*='push-xl-4p'] {
    left: 33.33%;
  }

  [class*='push-xl-5p'] {
    left: 41.66667%;
  }

  [class*='push-xl-6p'] {
    left: 50%;
  }

  [class*='push-xl-7p'] {
    left: 58.33%;
  }

  [class*='push-xl-8p'] {
    left: 66.66667%;
  }

  [class*='push-xl-9p'] {
    left: 75%;
  }

  [class*='push-xl-10p'] {
    left: 83.33%;
  }

  [class*='push-xl-11p'] {
    left: 91.66667%;
  }

  [class*='push-xl-12p'] {
    left: 100%;
  }

  [class*='push-xl-20p'] {
    left: 20%;
  }

  [class*='push-xl-40p'] {
    left: 40%;
  }

  [class*='push-xl-60p'] {
    left: 60%;
  }

  [class*='push-xl-80p'] {
    left: 80%;
  }
}
/* =============================================
   PULL SIZE-XS
   ============================================= */
[class*='pull-xs-0p'] {
  left: 0;
}

[class*='pull-xs-1p'] {
  left: -8.33%;
}

[class*='pull-xs-2p'] {
  left: -16.66667%;
}

[class*='pull-xs-3p'] {
  left: -25%;
}

[class*='pull-xs-4p'] {
  left: -33.33%;
}

[class*='pull-xs-5p'] {
  left: -41.66667%;
}

[class*='pull-xs-6p'] {
  left: -50%;
}

[class*='pull-xs-7p'] {
  left: -58.33%;
}

[class*='pull-xs-8p'] {
  left: -66.66667%;
}

[class*='pull-xs-9p'] {
  left: -75%;
}

[class*='pull-xs-10p'] {
  left: -83.33%;
}

[class*='pull-xs-11p'] {
  left: -91.66667%;
}

[class*='pull-xs-12p'] {
  left: -100%;
}

[class*='pull-xs-20p'] {
  left: -20%;
}

[class*='pull-xs-40p'] {
  left: -40%;
}

[class*='pull-xs-60p'] {
  left: -60%;
}

[class*='pull-xs-80p'] {
  left: -80%;
}

/* =============================================
   PULL SIZE-SM
   ============================================= */
@media only screen and (min-width: 580px) {
  [class*='pull-sm-0p'] {
    left: 0;
  }

  [class*='pull-sm-1p'] {
    left: -8.33%;
  }

  [class*='pull-sm-2p'] {
    left: -16.66667%;
  }

  [class*='pull-sm-3p'] {
    left: -25%;
  }

  [class*='pull-sm-4p'] {
    left: -33.33%;
  }

  [class*='pull-sm-5p'] {
    left: -41.66667%;
  }

  [class*='pull-sm-6p'] {
    left: -50%;
  }

  [class*='pull-sm-7p'] {
    left: -58.33%;
  }

  [class*='pull-sm-8p'] {
    left: -66.66667%;
  }

  [class*='pull-sm-9p'] {
    left: -75%;
  }

  [class*='pull-sm-10p'] {
    left: -83.33%;
  }

  [class*='pull-sm-11p'] {
    left: -91.66667%;
  }

  [class*='pull-sm-12p'] {
    left: -100%;
  }

  [class*='pull-sm-20p'] {
    left: -20%;
  }

  [class*='pull-sm-40p'] {
    left: -40%;
  }

  [class*='pull-sm-60p'] {
    left: -60%;
  }

  [class*='pull-sm-80p'] {
    left: -80%;
  }
}
/* =============================================
   PULL SIZE-MD
   ============================================= */
@media only screen and (min-width: 799px) {
  [class*='pull-md-0p'] {
    left: 0;
  }

  [class*='pull-md-1p'] {
    left: -8.33%;
  }

  [class*='pull-md-2p'] {
    left: -16.66667%;
  }

  [class*='pull-md-3p'] {
    left: -25%;
  }

  [class*='pull-md-4p'] {
    left: -33.33%;
  }

  [class*='pull-md-5p'] {
    left: -41.66667%;
  }

  [class*='pull-md-6p'] {
    left: -50%;
  }

  [class*='pull-md-7p'] {
    left: -58.33%;
  }

  [class*='pull-md-8p'] {
    left: -66.66667%;
  }

  [class*='pull-md-9p'] {
    left: -75%;
  }

  [class*='pull-md-10p'] {
    left: -83.33%;
  }

  [class*='pull-md-11p'] {
    left: -91.66667%;
  }

  [class*='pull-md-12p'] {
    left: -100%;
  }

  [class*='pull-md-20p'] {
    left: -20%;
  }

  [class*='pull-md-40p'] {
    left: -40%;
  }

  [class*='pull-md-60p'] {
    left: -60%;
  }

  [class*='pull-md-80p'] {
    left: -80%;
  }
}
/* =============================================
   PULL SIZE-LG
   ============================================= */
@media only screen and (min-width: 1060px) {
  [class*='pull-lg-0p'] {
    left: 0;
  }

  [class*='pull-lg-1p'] {
    left: -8.33%;
  }

  [class*='pull-lg-2p'] {
    left: -16.66667%;
  }

  [class*='pull-lg-3p'] {
    left: -25%;
  }

  [class*='pull-lg-4p'] {
    left: -33.33%;
  }

  [class*='pull-lg-5p'] {
    left: -41.66667%;
  }

  [class*='pull-lg-6p'] {
    left: -50%;
  }

  [class*='pull-lg-7p'] {
    left: -58.33%;
  }

  [class*='pull-lg-8p'] {
    left: -66.66667%;
  }

  [class*='pull-lg-9p'] {
    left: -75%;
  }

  [class*='pull-lg-10p'] {
    left: -83.33%;
  }

  [class*='pull-lg-11p'] {
    left: -91.66667%;
  }

  [class*='pull-lg-12p'] {
    left: -100%;
  }

  [class*='pull-lg-20p'] {
    left: -20%;
  }

  [class*='pull-lg-40p'] {
    left: -40%;
  }

  [class*='pull-lg-60p'] {
    left: -60%;
  }

  [class*='pull-lg-80p'] {
    left: -80%;
  }
}
/* =============================================
   PULL SIZE-XL
   ============================================= */
@media only screen and (min-width: 1260px) {
  [class*='pull-xl-0p'] {
    left: 0;
  }

  [class*='pull-xl-1p'] {
    left: -8.33%;
  }

  [class*='pull-xl-2p'] {
    left: -16.66667%;
  }

  [class*='pull-xl-3p'] {
    left: -25%;
  }

  [class*='pull-xl-4p'] {
    left: -33.33%;
  }

  [class*='pull-xl-5p'] {
    left: -41.66667%;
  }

  [class*='pull-xl-6p'] {
    left: -50%;
  }

  [class*='pull-xl-7p'] {
    left: -58.33%;
  }

  [class*='pull-xl-8p'] {
    left: -66.66667%;
  }

  [class*='pull-xl-9p'] {
    left: -75%;
  }

  [class*='pull-xl-10p'] {
    left: -83.33%;
  }

  [class*='pull-xl-11p'] {
    left: -91.66667%;
  }

  [class*='pull-xl-12p'] {
    left: -100%;
  }

  [class*='pull-xl-20p'] {
    left: -20%;
  }

  [class*='pull-xl-40p'] {
    left: -40%;
  }

  [class*='pull-xl-60p'] {
    left: -60%;
  }

  [class*='pull-xl-80p'] {
    left: -80%;
  }
}
/* =============================================
   HIDE / SHOW
   ============================================= */
.show-xs-only,
.show-sm-up,
.show-sm-only,
.show-sm-down,
.show-md-up,
.show-md-only,
.show-md-down,
.show-lg-up,
.show-lg-only,
.show-lg-down,
.show-xl-only {
  display: none;
}

/* SIZE XS */
@media only screen and (max-width: 579px) {
  .show-xs-only {
    display: block;
  }

  .hide-xs-only {
    display: none;
  }
}
/* SIZE SM */
@media only screen and (min-width: 580px) {
  .show-sm-up {
    display: block;
  }

  .hide-sm-up {
    display: none;
  }
}
@media only screen and (min-width: 580px) and (max-width: 798px) {
  .show-sm-only {
    display: block;
  }
}
@media only screen and (max-width: 798px) {
  .show-sm-down {
    display: block;
  }

  .hide-sm-down {
    display: none;
  }
}
/* SIZE MD */
@media only screen and (min-width: 799px) {
  .show-md-up {
    display: block;
  }

  .hide-md-up {
    display: none;
  }
}
@media only screen and (min-width: 799px) and (max-width: 1059px) {
  .show-md-only {
    display: block;
  }
}
@media only screen and (max-width: 1059px) {
  .show-md-down {
    display: block;
  }

  .hide-md-down {
    display: none;
  }
}
/* SIZE LG */
@media only screen and (min-width: 1060px) {
  .show-lg-up {
    display: block;
  }

  .hide-lg-up {
    display: none;
  }
}
@media only screen and (min-width: 1060px) and (max-width: 1259px) {
  .show-lg-only {
    display: block;
  }
}
@media only screen and (max-width: 1259px) {
  .show-lg-down {
    display: block;
  }

  .hide-lg-down {
    display: none;
  }
}
/* SIZE XL */
@media only screen and (min-width: 1260px) {
  .show-xl-only {
    display: block;
  }

  .hide-xl-only {
    display: none;
  }
}
/* =============================================
   FIXING FLOATING ISSUE, SEE http://www.bluthemes.com/blog/3/clearing-bootstrap-3-columns 
   ============================================= */
@media only screen and (max-width: 579px) {
  [class*='clear'][class*='-xs12'] [class*='col-']:nth-child(12n+13) {
    clear: left;
  }

  [class*='clear'][class*='-xs6'] [class*='col-']:nth-child(6n+7) {
    clear: left;
  }

  [class*='clear'][class*='-xs5'] [class*='col-']:nth-child(5n+6) {
    clear: left;
  }

  [class*='clear'][class*='-xs4'] [class*='col-']:nth-child(4n+5) {
    clear: left;
  }

  [class*='clear'][class*='-xs3'] [class*='col-']:nth-child(3n+4) {
    clear: left;
  }

  [class*='clear'][class*='-xs2'] [class*='col-']:nth-child(2n+3) {
    clear: left;
  }
}
@media only screen and (min-width: 580px) and (max-width: 798px) {
  [class*='clear'][class*='-sm12'] [class*='col-']:nth-child(12n+13) {
    clear: left;
  }

  [class*='clear'][class*='-sm6'] [class*='col-']:nth-child(6n+7) {
    clear: left;
  }

  [class*='clear'][class*='-sm5'] [class*='col-']:nth-child(5n+6) {
    clear: left;
  }

  [class*='clear'][class*='-sm4'] [class*='col-']:nth-child(4n+5) {
    clear: left;
  }

  [class*='clear'][class*='-sm3'] [class*='col-']:nth-child(3n+4) {
    clear: left;
  }

  [class*='clear'][class*='-sm2'] [class*='col-']:nth-child(2n+3) {
    clear: left;
  }
}
@media only screen and (min-width: 799px) and (max-width: 1059px) {
  [class*='clear'][class*='-md12'] [class*='col-']:nth-child(12n+13) {
    clear: left;
  }

  [class*='clear'][class*='-md6'] [class*='col-']:nth-child(6n+7) {
    clear: left;
  }

  [class*='clear'][class*='-md5'] [class*='col-']:nth-child(5n+6) {
    clear: left;
  }

  [class*='clear'][class*='-md4'] [class*='col-']:nth-child(4n+5) {
    clear: left;
  }

  [class*='clear'][class*='-md3'] [class*='col-']:nth-child(3n+4) {
    clear: left;
  }

  [class*='clear'][class*='-md2'] [class*='col-']:nth-child(2n+3) {
    clear: left;
  }
}
@media only screen and (min-width: 1060px) and (max-width: 1259px) {
  [class*='clear'][class*='-lg12'] [class*='col-']:nth-child(12n+13) {
    clear: left;
  }

  [class*='clear'][class*='-lg6'] [class*='col-']:nth-child(6n+7) {
    clear: left;
  }

  [class*='clear'][class*='-lg5'] [class*='col-']:nth-child(5n+6) {
    clear: left;
  }

  [class*='clear'][class*='-lg4'] [class*='col-']:nth-child(4n+5) {
    clear: left;
  }

  [class*='clear'][class*='-lg3'] [class*='col-']:nth-child(3n+4) {
    clear: left;
  }

  [class*='clear'][class*='-lg2'] [class*='col-']:nth-child(2n+3) {
    clear: left;
  }
}
@media only screen and (min-width: 1260px) {
  [class*='clear'][class*='-xl12'] [class*='col-']:nth-child(12n+13) {
    clear: left;
  }

  [class*='clear'][class*='-xl6'] [class*='col-']:nth-child(6n+7) {
    clear: left;
  }

  [class*='clear'][class*='-xl5'] [class*='col-']:nth-child(5n+6) {
    clear: left;
  }

  [class*='clear'][class*='-xl4'] [class*='col-']:nth-child(4n+5) {
    clear: left;
  }

  [class*='clear'][class*='-xl3'] [class*='col-']:nth-child(3n+4) {
    clear: left;
  }

  [class*='clear'][class*='-xl2'] [class*='col-']:nth-child(2n+3) {
    clear: left;
  }
}
/* =========================================================
   VARIABLES
   ========================================================= */
/* =========================================================
   FORMS
   ========================================================= */
/*
header {
  @include z-index('header');
}
*/
/* =============================================
   HOME
   ============================================= */
:hover {
  /* Fixes pseudo-element animation on :hover for Internet Explorer 10 */
}

/* Hide invisible elements */
.invisible, .element-invisible {
  width: 0;
  height: 0;
  left: -1000px;
  top: -1000px;
  position: absolute;
  overflow: hidden;
  display: inline;
}

/* Markierung bei Auswahl entfernen */
.toggler, img, a {
  outline: none;
}

/* HTML 5 RESET */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  border-radius: none;
  outline: none;
}

address {
  font-style: normal;
}

figure {
  line-height: 0;
}

/* =========================================================
   NAV-BASIC
   ========================================================= */
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
}

/* =========================================================
   FORMS
   ========================================================= */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-appearance: none;
  outline: 0;
  text-align: left;
  vertical-align: middle;
}

/* PLACEHOLDER-COLOR */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b2b2b2;
  letter-spacing: 0.5px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b2b2b2;
  opacity: 1;
  letter-spacing: 0.5px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b2b2b2;
  opacity: 1;
  letter-spacing: 0.5px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b2b2b2;
  letter-spacing: 0.5px;
}

html.touch .js-hover:hover {
  pointer-events: none !important;
}

/* =========================================================
    WEBFONTS
    ========================================================= */
@font-face {
  font-family: HelveticaNeue_Light;
  src: url(../fonts/helveticaneue-light.eot);
  src: url(../fonts/helveticaneue-light.eot?#iefix) format("embedded-opentype"), url(../fonts/helveticaneue-light.woff) format("woff"), url(../fonts/helveticaneue-light.ttf) format("truetype"), url(../fonts/helveticaneue-light.svg#HelveticaNeue_Light) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HelveticaNeue_Normal;
  src: url(../fonts/helveticaneue-roman.eot);
  src: url(../fonts/helveticaneue-roman.eot?#iefix) format("embedded-opentype"), url(../fonts/helveticaneue-roman.woff) format("woff"), url(../fonts/helveticaneue-roman.ttf) format("truetype"), url(../fonts/helveticaneue-roman.svg#HelveticaNeue_Normal) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HelveticaNeue_Medium;
  src: url(../fonts/helveticaneue-medium.eot);
  src: url(../fonts/helveticaneue-medium.eot?#iefix) format("embedded-opentype"), url(../fonts/helveticaneue-medium.woff) format("woff"), url(../fonts/helveticaneue-medium.ttf) format("truetype"), url(../fonts/helveticaneue-medium.svg#HelveticaNeue_Medium) format("svg");
  font-weight: 400;
  font-style: normal;
}
/* =============================================
   FONT-FAMILY 
   ============================================= */
/* =============================================
   FONT-SIZE 
   ============================================= */
/* =============================================
   FONT-FAMILYS
   ============================================= */
body {
  font-size: 15.3px;
  line-height: 164%;
  font-family: "HelveticaNeue_Light", Helvetica, sans-serif;
  font-weight: light;
  letter-spacing: 1px;
  color: #000000;
  text-align: left;
}
@media only screen and (min-width: 580px) {
  body {
    font-size: 16.49px;
  }
}
@media only screen and (min-width: 799px) {
  body {
    font-size: 17px;
  }
}

a, a:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

strong, b {
  font-family: "HelveticaNeue_Medium", Helvetica, sans-serif;
  font-weight: medium;
}

i {
  font-style: italic;
}

.t-title {
  font-size: 140%;
  line-height: 140%;
  margin-bottom: 25px;
}
@media only screen and (min-width: 799px) {
  .t-title {
    font-size: 190%;
  }
}
@media only screen and (min-width: 799px) {
  .t-title {
    margin-bottom: 35px;
  }
}

.t-title--less-space {
  margin-bottom: 21px;
}

.t-title--center {
  text-align: center;
  margin-bottom: 25px;
}

.t-copy a {
  color: #eb0000;
}

.t-copy--small {
  font-size: 75%;
  line-height: 155%;
}

.t-copy--center {
  text-align: center;
}

.t-important {
  color: #eb0000;
  font-family: "HelveticaNeue_Medium", Helvetica, sans-serif;
  font-weight: medium;
}

a[href*="anchor-"], .t-copy a.t-link-simple, .c-accordion a[href*="anchor-"] {
  font-family: "HelveticaNeue_Light", Helvetica, sans-serif;
  font-weight: light;
  color: inherit;
  text-decoration: underline;
}
a[href*="anchor-"]::after, .t-copy a.t-link-simple::after, .c-accordion a[href*="anchor-"]::after {
  content: none;
}

/* SETTING */
body {
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #fff;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

h1 {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 0 5px;
  font-weight: regular;
}

h2 {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 0 10px 0px;
  text-align: center;
}

.tile-element {
  background-color: #ffff3d;
}

.orange-bg {
  background-color: #e96d62;
}

.dark-bg {
  background-color: #373737;
}

.white-bg {
  background-color: #fff;
}

.color-wrapper {
  width: 100%;
  padding-bottom: 100px;
}

.color-1 {
  background-color: #4d99d4;
}

.color-2 {
  background-color: #42bca0;
}

.color-3 {
  background-color: #435568;
}

.color-4 {
  background-color: #ff696c;
}

.color-5 {
  background-color: #ffff3d;
}

.color-6 {
  background-color: #d58bed;
}

.color-w {
  background-color: #ffffff;
}

.spacer {
  height: 150px;
  background: #fff;
}

.grid.color-4 p {
  background: none;
  color: #fff;
}

/* GENERAL */
a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

.download-button {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 7px 40px;
  display: inline-block;
}

pre {
  font-family: monospace;
  white-space: pre-wrap;
  background: #ecf0f1;
  color: #3b3b3b;
  text-align: left;
  font-size: 80%;
  line-height: 140%;
  padding: 20px;
  margin: 50px 0 30px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  letter-spacing: 0;
}

/* HEADER */
header nav {
  text-transform: uppercase;
  font-size: 13px;
}
header img {
  width: 200px;
}
header h1 {
  padding: 0 50px;
}
header p {
  padding: 30px 0 60px;
}
header a {
  margin: 40px 0 150px;
}

header {
  background: #373737;
}
header nav ul li {
  display: inline-block;
  padding: 10px 20px;
}
header .header-image {
  background: url("../img/header-background.jpg") no-repeat center center;
  background-size: cover;
}
header .header-image img {
  width: 200px;
}
header .social-media .share {
  padding: 15px 0;
}
header .social-media .share span {
  box-sizing: content-box;
}

/* FEATURES */
.featrues {
  color: #373737;
  padding: 30px 0 90px;
}
.featrues .top-features [class*='col'] {
  padding-top: 50px;
}
.featrues .top-features [class*='col'] .feature-img {
  padding-left: 50%;
  margin-left: -45px;
}
.featrues .top-features [class*='col'] .feature-img div {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border: 3px solid #e96d62;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
}
.featrues .top-features [class*='col'] .feature-txt {
  font-size: 15px;
}

.more-featrues {
  padding: 60px 0 70px;
  background-color: #ecf0f1;
  color: #373737;
}

/* SECTIONTS */
.description {
  margin: 30px 0;
}

p.markup {
  background: #ecf0f1;
  padding: 6px 0;
  margin: 7px 0;
  border-radius: 4px;
  font-size: 11px;
  line-height: 11px;
  color: #666666;
  text-align: center;
}

.demo {
  padding: 10px 0 50px;
  text-align: left;
}

.demo.orange-bg {
  background: #e96d62;
}
.demo.orange-bg p.markup {
  background: #fff;
  color: #666666;
}

.demo:not(.orange-bg) {
  background: #fff;
  color: #e96d62;
}
.demo:not(.orange-bg) p.markup {
  background: #e96d62;
  color: #fff;
}

.testmediaqueries [class*='size-'] {
  display: none;
}

.what-grid {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

/*# sourceMappingURL=main.css.map */
