/* =============================================
   HOME
   ============================================= */

$rot: #eb0000;
$rot-dunkel: #b20000;
$rot-50: #f78080;

$white: #FFF;

$schwarz: #000000;
$schwarz-90: #1a1a1a;
$schwarz-60: #666666;
$schwarz-30: #b2b2b2;

$anthrazit: #272829;

$hellgrau: #dddddd;
$hellgrau-80: #e4e4e4;
$hellgrau-60: #ebebeb;
$hellgrau-40: #f1f1f1;
$hellgrau-20: #f8f8f8;

$blaugrau: #6b7786;
$blaugrau-60: #a6adb6;
$blaugrau-50: #b5bbc3;
$blaugrau-font: #566373;