// =========================================================
// WEBFONTS
// ========================================================= */




// =========================================================
// FONT-FAMILY 
// =========================================================


@mixin helvetica-light  {
    font-family: Helvetica, sans-serif;
    font-weight: light;
}

@mixin helvetica-normal  {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

@mixin helvetica-medium  {
    font-family: Helvetica, sans-serif;
    font-weight: medium;
}


// =========================================================
// FONT-SIZE 
// =========================================================

$base-font-size: 17px;


@mixin font-size-basic  {
    font-size: $base-font-size / 100 * 90;
    line-height: 164%;
    @include size-sm-up    {
        font-size: $base-font-size / 100 * 97;
    }
    @include size-md-up    {
        font-size: $base-font-size;
    }
}

@mixin font-size-footer-note    {
    font-size: 70%;
    line-height: 120%;
}

@mixin font-size-lead  {
    font-size: 107%;
    line-height: 170%;
    @include size-sm-up {
        font-size: 114%;
    }
    @include size-md-up {
        font-size: 120%;
    }
    @include size-lg-up {
        font-size: 135%;
    }
    @include size-xl-only {
        font-size: 150%;
    }
}


// =========================================================
// BASIC SETTINGS
// =========================================================

body    {
    @include font-size-basic;
    @include helvetica-light;
    letter-spacing: 1px;
    color: $black;
    text-align: left;
}


a, a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

strong, b  {
    @include helvetica-medium;
}

i, em   {
    font-style: italic;
}


// =========================================================
// FONT-CLASSES
// =========================================================







