/* =============================================
   HIDE / SHOW
   ============================================= */

[class*='show-'] {display: none;}

/* GRID SM ONLY */

@media only screen and (max-width: $grid-sm) {
   .show-xs-only  {display: block;}
   .hide-xs-only  {display: none;}
}

/* GRID SM UP */

@media only screen and (min-width: $grid-sm) {
   .show-sm-up  {display: block;}
   .hide-sm-up  {display: none;}
}


/* GRID MD UP */

@media only screen and (min-width: $grid-md + ($breakpoint-space))   {
   .show-md-up  {display: block;}
   .hide-md-up  {display: none;}
}


/* GRID LG UP */

@media only screen and (min-width: $grid-lg + ($breakpoint-space))   {
   .show-lg-up  {display: block;}
   .hide-lg-up  {display: none;}
}


/* GRID XL ONLY UP */

@media only screen and (min-width: $grid-xl + ($breakpoint-space))   {
   .show-xl-only  {display: block;}
   .hide-xl-only  {display: none;}
}


