/* =============================================
   PUSH RIGHT
   ============================================= */


/* =============================================
   PUSH SIZE-XS
   ============================================= */


[class*='push-xs-0p']    {left: 0;}
[class*='push-xs-1p']    {left: $width-1;}
[class*='push-xs-2p']    {left: $width-2;}
[class*='push-xs-3p']    {left: $width-3;}
[class*='push-xs-4p']    {left: $width-4;}
[class*='push-xs-5p']    {left: $width-5;}
[class*='push-xs-6p']    {left: $width-6;}
[class*='push-xs-7p']    {left: $width-7;}
[class*='push-xs-8p']    {left: $width-8;}
[class*='push-xs-9p']    {left: $width-9;}
[class*='push-xs-10p']      {left: $width-10;}
[class*='push-xs-11p']      {left: $width-11;}
[class*='push-xs-12p']      {left: $width-12;}
[class*='push-xs-20p']      {left: $width-20;}
[class*='push-xs-40p']      {left: $width-40;}
[class*='push-xs-60p']      {left: $width-60;}
[class*='push-xs-80p']      {left: $width-80;}


/* =============================================
   PUSH SIZE-SM
   ============================================= */


@media only screen and (min-width: $grid-sm)   {

[class*='push-sm-0p']    {left: 0;}
[class*='push-sm-1p']    {left: $width-1;}
[class*='push-sm-2p']    {left: $width-2;}
[class*='push-sm-3p']    {left: $width-3;}
[class*='push-sm-4p']    {left: $width-4;}
[class*='push-sm-5p']    {left: $width-5;}
[class*='push-sm-6p']    {left: $width-6;}
[class*='push-sm-7p']    {left: $width-7;}
[class*='push-sm-8p']    {left: $width-8;}
[class*='push-sm-9p']    {left: $width-9;}
[class*='push-sm-10p']      {left: $width-10;}
[class*='push-sm-11p']      {left: $width-11;}
[class*='push-sm-12p']      {left: $width-12;}
[class*='push-sm-20p']      {left: $width-20;}
[class*='push-sm-40p']      {left: $width-40;}
[class*='push-sm-60p']      {left: $width-60;}
[class*='push-sm-80p']      {left: $width-80;}
}

/* =============================================
   PUSH SIZE-MD
   ============================================= */


@media only screen and (min-width: $grid-md + ($breakpoint-space))   {

[class*='push-md-0p']    {left: 0;}
[class*='push-md-1p']    {left: $width-1;}
[class*='push-md-2p']    {left: $width-2;}
[class*='push-md-3p']    {left: $width-3;}
[class*='push-md-4p']    {left: $width-4;}
[class*='push-md-5p']    {left: $width-5;}
[class*='push-md-6p']    {left: $width-6;}
[class*='push-md-7p']    {left: $width-7;}
[class*='push-md-8p']    {left: $width-8;}
[class*='push-md-9p']    {left: $width-9;}
[class*='push-md-10p']      {left: $width-10;}
[class*='push-md-11p']      {left: $width-11;}
[class*='push-md-12p']      {left: $width-12;}
[class*='push-md-20p']      {left: $width-20;}
[class*='push-md-40p']      {left: $width-40;}
[class*='push-md-60p']      {left: $width-60;}
[class*='push-md-80p']      {left: $width-80;}
}

/* =============================================
   PUSH SIZE-LG
   ============================================= */


@media only screen and (min-width: $grid-lg + ($breakpoint-space))   {


[class*='push-lg-0p']      {left: 0;}
[class*='push-lg-1p']      {left: $width-1;}
[class*='push-lg-2p']      {left: $width-2;}
[class*='push-lg-3p']      {left: $width-3;}
[class*='push-lg-4p']      {left: $width-4;}
[class*='push-lg-5p']      {left: $width-5;}
[class*='push-lg-6p']      {left: $width-6;}
[class*='push-lg-7p']      {left: $width-7;}
[class*='push-lg-8p']      {left: $width-8;}
[class*='push-lg-9p']      {left: $width-9;}
[class*='push-lg-10p']     {left: $width-10;}
[class*='push-lg-11p']     {left: $width-11;}
[class*='push-lg-12p']     {left: $width-12;}
[class*='push-lg-20p']     {left: $width-20;}
[class*='push-lg-40p']     {left: $width-40;}
[class*='push-lg-60p']     {left: $width-60;}
[class*='push-lg-80p']     {left: $width-80;}
}


/* =============================================
   PUSH SIZE-XL
   ============================================= */


@media only screen and (min-width: $grid-xl + ($breakpoint-space))   {


[class*='push-xl-0p']      {left: 0;}
[class*='push-xl-1p']      {left: $width-1;}
[class*='push-xl-2p']      {left: $width-2;}
[class*='push-xl-3p']      {left: $width-3;}
[class*='push-xl-4p']      {left: $width-4;}
[class*='push-xl-5p']      {left: $width-5;}
[class*='push-xl-6p']      {left: $width-6;}
[class*='push-xl-7p']      {left: $width-7;}
[class*='push-xl-8p']      {left: $width-8;}
[class*='push-xl-9p']      {left: $width-9;}
[class*='push-xl-10p']     {left: $width-10;}
[class*='push-xl-11p']     {left: $width-11;}
[class*='push-xl-12p']     {left: $width-12;}
[class*='push-xl-20p']     {left: $width-20;}
[class*='push-xl-40p']     {left: $width-40;}
[class*='push-xl-60p']     {left: $width-60;}
[class*='push-xl-80p']     {left: $width-80;}
}








/* =============================================
   PULL SIZE-XS
   ============================================= */


[class*='pull-xs-0p']    {left: 0;}
[class*='pull-xs-1p']    {left: -$width-1;}
[class*='pull-xs-2p']    {left: -$width-2;}
[class*='pull-xs-3p']    {left: -$width-3;}
[class*='pull-xs-4p']    {left: -$width-4;}
[class*='pull-xs-5p']    {left: -$width-5;}
[class*='pull-xs-6p']    {left: -$width-6;}
[class*='pull-xs-7p']    {left: -$width-7;}
[class*='pull-xs-8p']    {left: -$width-8;}
[class*='pull-xs-9p']    {left: -$width-9;}
[class*='pull-xs-10p']      {left: -$width-10;}
[class*='pull-xs-11p']      {left: -$width-11;}
[class*='pull-xs-12p']      {left: -$width-12;}
[class*='pull-xs-20p']      {left: -$width-20;}
[class*='pull-xs-40p']      {left: -$width-40;}
[class*='pull-xs-60p']      {left: -$width-60;}
[class*='pull-xs-80p']      {left: -$width-80;}


/* =============================================
   PULL SIZE-SM
   ============================================= */


@media only screen and (min-width: $grid-sm)   {

[class*='pull-sm-0p']    {left: 0;}
[class*='pull-sm-1p']    {left: -$width-1;}
[class*='pull-sm-2p']    {left: -$width-2;}
[class*='pull-sm-3p']    {left: -$width-3;}
[class*='pull-sm-4p']    {left: -$width-4;}
[class*='pull-sm-5p']    {left: -$width-5;}
[class*='pull-sm-6p']    {left: -$width-6;}
[class*='pull-sm-7p']    {left: -$width-7;}
[class*='pull-sm-8p']    {left: -$width-8;}
[class*='pull-sm-9p']    {left: -$width-9;}
[class*='pull-sm-10p']      {left: -$width-10;}
[class*='pull-sm-11p']      {left: -$width-11;}
[class*='pull-sm-12p']      {left: -$width-12;}
[class*='pull-sm-20p']      {left: -$width-20;}
[class*='pull-sm-40p']      {left: -$width-40;}
[class*='pull-sm-60p']      {left: -$width-60;}
[class*='pull-sm-80p']      {left: -$width-80;}
}

/* =============================================
   PULL SIZE-MD
   ============================================= */


@media only screen and (min-width: $grid-md + ($breakpoint-space))   {

[class*='pull-md-0p']    {left: 0;}
[class*='pull-md-1p']    {left: -$width-1;}
[class*='pull-md-2p']    {left: -$width-2;}
[class*='pull-md-3p']    {left: -$width-3;}
[class*='pull-md-4p']    {left: -$width-4;}
[class*='pull-md-5p']    {left: -$width-5;}
[class*='pull-md-6p']    {left: -$width-6;}
[class*='pull-md-7p']    {left: -$width-7;}
[class*='pull-md-8p']    {left: -$width-8;}
[class*='pull-md-9p']    {left: -$width-9;}
[class*='pull-md-10p']      {left: -$width-10;}
[class*='pull-md-11p']      {left: -$width-11;}
[class*='pull-md-12p']      {left: -$width-12;}
[class*='pull-md-20p']      {left: -$width-20;}
[class*='pull-md-40p']      {left: -$width-40;}
[class*='pull-md-60p']      {left: -$width-60;}
[class*='pull-md-80p']      {left: -$width-80;}
}

/* =============================================
   PULL SIZE-LG
   ============================================= */


@media only screen and (min-width: $grid-lg + ($breakpoint-space))   {


[class*='pull-lg-0p']      {left: 0;}
[class*='pull-lg-1p']      {left: -$width-1;}
[class*='pull-lg-2p']      {left: -$width-2;}
[class*='pull-lg-3p']      {left: -$width-3;}
[class*='pull-lg-4p']      {left: -$width-4;}
[class*='pull-lg-5p']      {left: -$width-5;}
[class*='pull-lg-6p']      {left: -$width-6;}
[class*='pull-lg-7p']      {left: -$width-7;}
[class*='pull-lg-8p']      {left: -$width-8;}
[class*='pull-lg-9p']      {left: -$width-9;}
[class*='pull-lg-10p']     {left: -$width-10;}
[class*='pull-lg-11p']     {left: -$width-11;}
[class*='pull-lg-12p']     {left: -$width-12;}
[class*='pull-lg-20p']     {left: -$width-20;}
[class*='pull-lg-40p']     {left: -$width-40;}
[class*='pull-lg-60p']     {left: -$width-60;}
[class*='pull-lg-80p']     {left: -$width-80;}
}

/* =============================================
   PULL SIZE-XL
   ============================================= */


@media only screen and (min-width: $grid-xl + ($breakpoint-space))   {


[class*='pull-xl-0p']      {left: 0;}
[class*='pull-xl-1p']      {left: -$width-1;}
[class*='pull-xl-2p']      {left: -$width-2;}
[class*='pull-xl-3p']      {left: -$width-3;}
[class*='pull-xl-4p']      {left: -$width-4;}
[class*='pull-xl-5p']      {left: -$width-5;}
[class*='pull-xl-6p']      {left: -$width-6;}
[class*='pull-xl-7p']      {left: -$width-7;}
[class*='pull-xl-8p']      {left: -$width-8;}
[class*='pull-xl-9p']      {left: -$width-9;}
[class*='pull-xl-10p']     {left: -$width-10;}
[class*='pull-xl-11p']     {left: -$width-11;}
[class*='pull-xl-12p']     {left: -$width-12;}
[class*='pull-xl-20p']     {left: -$width-20;}
[class*='pull-xl-40p']     {left: -$width-40;}
[class*='pull-xl-60p']     {left: -$width-60;}
[class*='pull-xl-80p']     {left: -$width-80;}
}


